* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'font', sans-serif;
}

@font-face {
    font-family: 'font';
    src:    url('https://nomail.com.ua/files/eot/8ce3beca87df9f72c93ffc5982450177.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/8ce3beca87df9f72c93ffc5982450177.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/8ce3beca87df9f72c93ffc5982450177.woff2') format('woff2');
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #656565;
    border-radius: 10px;
    min-height: 77px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }